@model IEnumerable<CarRental.Domain.Domain.Rental>

@{
    ViewData["Title"] = "ListRentals";
}



<div style="padding:8px">
    <h1 style="font-weight:bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">ListRentals</h1>
    <a asp-action="Export" class="btn btn-success" style="background-color: #FFA500; border-color: #FFA500;font-weight:bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); ">
    Export
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Customer.FirstName + " " + item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @{
                var str = "";
                foreach (CarInRental cir in item.CarsInRental)
                {
                    str += cir.RentedCar.CarModel+"; ";
                }
                <td>
                    @str
                </td>
            }
        </tr>
}
    </tbody>
</table>
</div>