@model IEnumerable<CarRental.Domain.Domain.Rental>

@{
    ViewData["Title"] = "ListRentals";
}

<h1>ListRentals</h1>

<p>
    <a asp-action="Export">Export</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Customer.FirstName + " " + item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @{
                var str = "";
                foreach (CarInRental cir in item.CarsInRental)
                {
                    str += cir.RentedCar.CarModel+"; ";
                }
                <td>
                    @str
                </td>
            }
        </tr>
}
    </tbody>
</table>
