@model IEnumerable<CarRental.Domain.Domain.Rental>

@{
    ViewData["Title"] = "ListRentals";
}

<h1 style="font-weight:bold">ListRentals</h1>

<div style="padding:8px">
<a asp-action="Export" class="btn btn-success" style="background-color: #FFA500; border-color: #FFA500; ">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
    </svg> Export
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Customer.FirstName + " " + item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @{
                var str = "";
                foreach (CarInRental cir in item.CarsInRental)
                {
                    str += cir.RentedCar.CarModel+"; ";
                }
                <td>
                    @str
                </td>
            }
        </tr>
}
    </tbody>
</table>
</div>