@model CarRental.Domain.Domain.Car

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fullscreen-cars p-4 ">



    <h1 style="color:#FFA500; font-weight:bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">Create</h1>

    <h4 style="color:#FFA500; font-weight:bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CarModel" style="color:#FFA500; font-weight:bold" class="control-label"></label>
                    <input asp-for="CarModel" class="form-control" />
                    <span asp-validation-for="CarModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarManufacturer" style="color:#FFA500; font-weight:bold" class="control-label"></label>
                    <input asp-for="CarManufacturer" class="form-control" />
                    <span asp-validation-for="CarManufacturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarImage" style="color:#FFA500; font-weight:bold" class="control-label"></label>
                    <input asp-for="CarImage" class="form-control" />
                    <span asp-validation-for="CarImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" style="color:#FFA500; font-weight:bold" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" style="color:#FFA500; font-weight:bold" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <input type="submit" value="Create" class="btn btn-success" style="background-color: #FFA500; border-color: #FFA500; font-weight:bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);" />
                    <a asp-action="Index" class="btn btn-success" style="background-color: #FFA500; border-color: #FFA500; font-weight:bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
                        Back to List
                    </a>
                </div>


            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
