@{
    ViewData["Title"] = "Home Page";
}

<div class="fullscreen-bg">
    <div class="welcome text-center">
        <h1 class="display-2" style="color: #FFA500;">Welcome</h1>
        <p style="font-weight:bold; font-size:1.2rem">Welcome to our Car Rental Service App! Whether you're planning a road trip, commuting, or just need a reliable ride, we've got you covered. Explore our diverse fleet of vehicles, from compact cars to spacious SUVs, designed to meet your every need. Enjoy hassle-free booking, competitive rates, and top-notch customer service that makes renting a car as easy as driving one. Start your journey with us and experience the freedom and flexibility of renting with confidence.</p>
    </div>
</div>
 