@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="p-2 ">
    <h1 style="color:#FFA500; font-weight:bold">@ViewData["Title"]</h1>
    <p style="color:#FFA500; font-weight:bold; font-size:1.2rem">Use this page to detail your site's privacy policy.</p>

</div>
